* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(11, 12, 13);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
