@import '../../constants';

.tab-bar {
  $transition-duration: 0.4s;
  $border-radius: 0px;
  $skew-angle: 20deg;

  background-color: $accent-color;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  margin-top: 2em;
  transform: skew(-$skew-angle);

  & * {
    z-index: 2;
  }

  &__item {
    width: 6em;
    height: 2em;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__link {
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      border-radius: $border-radius;
      transform: skew($skew-angle);
    }
  }

  &__glider {
    z-index: 1;
    width: 6em;
    height: 2em;
    position: absolute;
    transition: transform $transition-duration ease-in-out;
    background-color: $secondary-color;
  }
}