@import '../../constants';

.tab-bar {
  --transition-duration: 0.4s;

  background-color: $additional-color;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  padding: 0.3em;
  margin-top: 2em;

  & * {
    z-index: 2;
  }

  &__item {
    width: 6em;
    height: 2em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__link {
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
    }
  }

  &__glider {
    z-index: 1;
    width: 6em;
    height: 2em;
    position: absolute;
    transition: transform var(--transition-duration) ease-in-out;
    background-color: $secondary-color;
    border-radius: 20px;
  }
}