@import "../../constants";

.navigation {
  $nav-item-padding: 1em;

  width: 100%;
  background-color: transparent;
  font-size: 1.15em;

  &__list {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: flex-start;

    &__item {
      transition: background-color 0.1s ease-in-out;

      &__active {
        background-color: $accent-color;
      }

      &:hover {
        background-color: rgba($accent-color, 0.4);
      }

      & a {
        text-align: center;
        display: flex;
        padding: $nav-item-padding;
        text-decoration: none;
        color: white;
        justify-content: center;
        align-items: center;
        gap: 0.3em;
      }
    }

    & > a {
      position: absolute;
      top: 0;
      right: 5%;
      transition: transform 0.4s ease-in-out;
      height: 100px;
      transform: translateY(-30%);

      &:hover {
        background-color: inherit;
        transform: translateY(0);
      }

      & img,
      svg {
        width: inherit;
        height: inherit;
      }
    }

    &__column {
      flex-direction: column;
    }
  }
}
