@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url("/src/css/navigation.css");
@import url("/src/css/footer.css");

* {
  font-family: "Roboto", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  background-color: rgb(11, 12, 13);
  overflow-x: hidden;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  /* padding: var(--footer-heig 0; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 60%;
  margin: auto;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 0.8rem;
  padding: 2rem 5rem;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(38, 39, 40);
}
