.navigation {
  --nav-height: 3rem;
  --nav-link-padding: 0.7rem;
  --nav-transition-duration: 0.4s;

  width: 100%;
  position: relative;
  clear: both;
  height: var(--nav-height);
  margin-bottom: calc(var(--nav-height) / 2);
}

.navigation ul {
  list-style: none;
  height: var(--nav-height);
}

.navigation ul li {
  float: left;
}

.navigation ul li a {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.navigation ul li a {
  font-size: calc((var(--nav-height) - var(--nav-link-padding)) / 2);
  padding: var(--nav-link-padding);
  color: white;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
}

.navigation ul li a:hover {
  background-color: rgb(56, 50, 50);
}

.navigation ul li a[active] {
  background-color: rgb(173, 33, 168);
}

.navigation ul li:last-child {
  float: right;
  right: 0;
  top: 0;
  transition: var(--nav-transition-duration) ease-in-out;
  width: 50px;
  height: 50px;
}

.navigation ul li:last-child:hover {
  width: 75px;
  height: 75px;
}

.navigation ul li:last-child a:hover {
  background-color: initial;
}

.navigation ul li:last-child a {
  width: inherit;
  height: inherit;
  padding: 0;
}

.navigation ul li:last-child img {
  width: inherit;
  height: inherit;
}
