.tabs {
  --tab-width: 8rem;
  --tab-height: 2rem;
  --primary-color: rgb(24, 24, 62);
  --secondary-color: rgb(70, 180, 232);
  --animation-duration: 0.15s;

  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 22px;
  align-self: center;
  user-select: none;
  position: relative;
}

.tabs * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.tabs label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--tab-width);
  height: var(--tab-height);
  transition: color var(--animation-duration) ease-in-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.tabs .glider {
  transition: var(--animation-duration) ease-in-out;
  width: var(--tab-width);
  height: var(--tab-height);
  background-color: var(--secondary-color);
  border-radius: 15px;
  position: absolute;
  z-index: 1;
}

.tabs input[type="radio"]:checked + label {
  color: black;
}

.tabs #tab_minecraft:checked ~ .glider {
  transform: translate(-100%);
}
.tabs #tab_windows:checked ~ .glider {
  transform: translate(0%);
}
.tabs #tab_android:checked ~ .glider {
  transform: translate(100%);
}
