@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: 11, 12, 13;
  --secondary-color: 20, 20, 20;
  --accent-color: 173, 33, 168;
  --additional-color: 84 40 116;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(var(--primary-color));
}

main {
  width: 60%;
  min-height: 75%;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--secondary-color));
  border-radius: 10px;
  margin: 3rem auto auto;
  padding: 1rem;
}
