@import '../../constants';

.downloads {
  &__item {
    padding: 0.8em;
    width: 12em;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    background-color: rgb($primary-color);

    &:hover {
      transform: scale(1.03);
    }

    &__image {
      width: 100%;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.03) rotateZ(1deg);
      }
    }

    &__header {
      margin: 0.3em;
      text-align: center;
      font-size: 1.2em;
    }
    &__description {
      text-align: center;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}